@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}
<div style="text-align: center;">
    <a style="font-size: 25px;" href="http://www.facebook.com/media/set/fbx/?set=a.2017333919724.2123089.1435142475&l=371a74edc1">
        Click here to view the pictures</a>
    <br />
    <br />
    <iframe width="640" height="510" src="http://www.youtube.com/embed/1Dxnza_6dRE" frameborder="0"
        allowfullscreen></iframe>
    <br />
    <br />
    <a style="font-size: 20px;" href="http://www.alexandnikki.net/downloads/AlexAndNikkiWedding_PicturesAndVideo.zip">
        Click here to download all high resolution photos and the video in a .zip file.</a>
    [652 mb]<br />
    (This is the option you want if you want to burn or print your own copies of the
    dvd or pictures.)
</div>
